<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


	<head>
		<title>Reference App2</title>
		<script th:replace="~{ csap/fragments/libsAndStyles :: pageContent }"></script>

		<!--  testing only, not used -->
		<script th:replace="~{ csap/fragments/jqplot-includes :: pageContent }"></script>
		<script th:replace="~{ csap/fragments/misc :: pageContent }"></script>
 
		<script th:src="@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/simple.js')} }"></script>
		<!--
		<script th:src="@{/js/simple.js}"></script>
		-->
		<style>
			table.simple {
				width: 80em;
				margin-bottom: 3em;
			}

			table td:nth-child(1) {
				width: 15em;
			}

			table td:nth-child(2) {
				width: 5em;
			}

			header .noteAlt {
				font-size: 0.7em;
				margin: 0;
				padding: 3px;
			}

			div.title {
				width: 20em;
				color: black;
			}
		</style>
	</head>

	<body>

		<header th:replace="~{ csap/fragments/page :: header } "></header>

		<table id="SpringMvc" class="simple">
			<thead>

				<tr>
					<th><div class="title">Model View Controller</div> Click to
						test</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td><a class="simple" href=".">LandingPage</a></td>
					<td>html</td>
					<td>This page: SpringBoot View using Thymeleaf html5 template

						<div class="news">SpringBoot can easily be deployed as either
							jar or traditional war file. Use of templates such as thymeleaf
							(boot default) or freemarker are recommended. Thymeleaf is trivial
							to integrate and use in SpringBoot (view links below).</div> <a
							class="pushButton" target="_blank"
							href="http://www.thymeleaf.org/doc/articles/thvsjsp.html">Compare
							templates versus jsp</a> <a class="pushButton" target="_blank"
													href="http://www.thymeleaf.org/doc/articles/springmvcaccessdata.html">Learn
							about Using html templates</a>

					</td>
				</tr>

				<tr>
					<td><a class="simple" th:href="@{${ docsController }(clazz=${ helpPageExample })}"> @CsapDoc example</a></td>
					<td>html</td>
					<td>CSAP API Test page Generator</td>
				</tr>
				<tr>
					<td><a class="simple" th:href="@{ /health(testCount=200)}"> CsapHealth Test Page</a></td>
					<td>html</td>
					<td>Health report with 200 fake items</td>
				</tr>
				
				
				<tr>
					<td>test java encrypt - run test based on jvm configuration</a></td>
					<td>html</td>
					<td>
					
					<form th:action="@{/encode}"
							  style="">
						<input type="submit" class="submit" value="encode" />
						Item to decode:
						<input name="stringToEncode" value="Simple string to encode" />(Current JVM)
					</form>
					<form th:action="@{/decode}"
							  style="">
						<input type="submit" class="submit" value="decode" />
						Item to decode:
						<input name="stringToDecode" value="kMp1cwWZ/4H5qQHxtbSX7rZU790Sr1HUYZDApx4FVqA=" />(JDK default weak encoding)
					</form>
					
					<form th:action="@{/decode}"
							  style="">
						<input type="submit" class="submit" value="decode" />
						Item to decode:
						<input name="stringToDecode" value="5E2Bh0SeZ55EYi89qMSwcpIQbwtgNfikBDDAoU6aYcX6VDi7w7eYkA==" />(JDK strong encoding)
					</form>
					
					</td>
				</tr>

				<tr>
					<td><a  class="simple" th:href="@{testAsync(delaySeconds=5)}">test @async</a></td>
					<td>html</td>
					<td>verify async thread pool</td>
				</tr>

				<tr>
					<td><a class="simple" href="currentTime">currentTime</a></td>
					<td>text</td>
					<td>Spring MVC returning plain text</td>
				</tr>

				<tr>
					<td><a class="simple" href="currentUser">currentUser</a></td>
					<td>text</td>
					<td>Spring MVC returning plain text, and id of logged in user</td>
				</tr>

				<tr>
					<td><a class="simple" href="currentUserDetails">currentUserDetails</a></td>
					<td>text</td>
					<td>Spring MVC returning plain text, and id of logged in user</td>
				</tr>

				<tr>
					<td><button id="currentTimeButton" class="pushButton">currentTime</button></td>
					<td>html</td>
					<td>Spring MVC via jquery and alertify</td>
				</tr>
				<tr>
					<td><button id="themeTablesButton" class="pushButton">theme
							tables</button></td>
					<td>html</td>
					<td>JQuery tablesorter on tables</td>
				</tr>

				<tr>
					<td> 
						<a class="simple" href="helloWithOptionalName">helloWithOptionalName</a>
						<br/>
						<a class="simple" href="helloWithOptionalName/sampleName">helloWithOptionalName/sampleName</a>
					
					</td>
					<td>json</td>
					<td>Spring @GetMapping with Optional @PathVariable</td>
				</tr>

				<tr>
					<td><a class="simple" href="testException">testException</a></td>
					<td>text</td>
					<td>Spring @RestController Exception Advice</td>
				</tr>

				<tr>
					<td><a class="simple" href="testNullPointer">testNullPointer</a></td>
					<td>text</td>
					<td>Spring @Controller Null Pointer Exception Advice</td>
				</tr>

				<tr>
					<td><a class="simple" href="missingTemplate">missingTemplate</a></td>
					<td>text</td>
					<td>Missing thymeleaf template</td>
				</tr>

				<tr>
					<td><a class="simple" href="malformedTemplate">malformedTemplate</a></td>
					<td>text</td>
					<td>malformedTemplate thymeleaf template. ALL elements must be
						terminated</td>
				</tr>

				<tr>
					<td><a class="simple" href="addSessionVar">addSessionVar</a></td>
					<td>text</td>
					<td>Spring MVC with session variable; note embedded tomcat can
						optional persist over restarts, or distribute for stateless
						containers via redis</td>
				</tr>

				<tr>
					<td><a class="simple" href="testAclFailure">testAclFailure</a></td>
					<td>html</td>
					<td>Spring Security - verify ACL deny message</td>
				</tr>

				<tr>
					<td><a class="simple" href="maxConnections">maxConnections test</a></td>
					<td>json</td>
					<td>Sleep method for testing servlet accept count limits and threads</td>
				</tr>


			</tbody>

		</table>



		<table id="csapServiceLocator" class="simple">
			<thead>

				<tr>
					<th><div class="title">CSAP Service Locator</div> Click to test</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td><a class="simple" href="hello">hello</a></td>
					<td>text</td>
					<td>Invoke instance in current JVM</td>
				</tr>

				<tr>
					<td><a class="simple"
						   th:href="@{helloWithRestAcl(userid=pnightin,pass=replaceWithYours)}">helloWithRestAcl</a></td>
					<td>text</td>
					<td>Invoke instance in current JVM protected with userid and
						password</td>
				</tr>


				<tr>
					<td><a class="simple" href="helloRemoteRandom">hello:
							remote random</a></td>
					<td>text</td>
					<td>Invoke instance in remote JVM, *Best Distribution</td>
				</tr>


				<tr>
					<td><a class="simple" href="helloRoundRobin">hello: remote
							round robin</a></td>
					<td>text</td>
					<td>Invoke instance in remote JVM, iterates available instances</td>
				</tr>


				<tr>
					<td><a class="simple" href="hello/lowCpu">hello: remote low
							Cpu</a></td>
					<td>text</td>
					<td>Invoke instance in remote JVM, lowest cpu usage of
						available instances</td>
				</tr>


				<tr>
					<td><a class="simple" href="hello/lowLoad">hello: remote
							low load</a></td>
					<td>text</td>
					<td>Invoke instance in remote JVM, lowest cpu load of available
						instances</td>
				</tr>


			</tbody>

		</table>

		<footer th:replace="csap/fragments/page :: footer"></footer>
	</body>

</html>
