<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"  
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Cache-Control" content="no-cache" />
<!--  insane hack for IE to support html5 -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />



<title>Authorization Error</title>


		<script th:replace="~{ csap/fragments/libsAndStyles :: pageContent }"></script>
	
	

<style>
input {
margin-right: 1em;
}
header div {
	float: right;
	display: inline;
	font-size: 0.8em;
	margin-right: 2em
}
</style>
</head>
<body>

	<header>
		<span th:text="${serviceName}"></span> ACL Page
		<div>Version: <span th:text="${serviceVersion}"></span></div>
	</header>

	<br/>

	<section  style="position:absolute; left: 50%; top: 50%; margin-left: -15em; margin-top: -5em;">
		<div class="title">Authorization Error</div>
		
		
		<div class="note">An access exception was thrown, your userid needs to get additional groups.</div>
		


		
	</section>



</body>
</html>