<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent" th:remove="tag" >

<script th:src="@{/webjars/flot/0.8.3/jquery.flot.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.stack.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.time.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.navigate.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.selection.min.js}" ></script> 

</head>