
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent" th:remove="tag" >




<link th:href="@{/webjars/fancytree/2.19.0/dist/skin-win7/ui.fancytree.min.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/webjars/fancytree/2.19.0/dist/src/jquery.fancytree.js}"></script>


<link  th:href="@{/webjars/jQuery-contextMenu/1.6.5/jquery.contextMenu.css}" rel="stylesheet" type="text/css" media="screen" />
<script th:src="@{/webjars/jQuery-contextMenu/1.6.5/jquery.contextMenu.js}" ></script>
<script th:src="@{/js/csapLibs/fancytree/jquery.fancytree.contextMenu.js}" ></script>



<script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}" ></script>




</head>

</html>