header {
	background: #92C16E ;
background: -moz-linear-gradient(-45deg, rgba(205,235,142,0.9) 0%, rgba(128,201,86,0.92) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(205,235,142,0.9) 0%,rgba(128,201,86,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(205,235,142,0.9) 0%,rgba(128,201,86,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}

body {
	background-color: #D0F0C0
}